
:root {
    
    --background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    --clr-primary-nav: #E7E1DA;
    --clr-primary-200: #D2D3d3;
    --clr-primary-400: #0a0a0a/*#232629/*#121326*/;
    --clr-primary-900: #000000/*#191b1d/*#111024*/;

    --clr-accent-400: #fdfdfe;
    --clr-accent-500: #d2a740 /*#6fffe9*/;
    --clr-accent-600: #daa520/*#5bc0be*/;
    --clr-accent-900: #a4a6b3;
   
    --ff-primary: "Michroma";
    --ff-accent: "Playfair Display", serif;
}

*,*::after,*::before {
    box-sizing: border-box;
}

html {
    color-scheme: light-dark;
    background-color: var(--clr-primary-900);
    scroll-behavior: smooth;
}

/*navigation styles starts here*/

header {
    background-color: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--clr-accent-400);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    color: var(--clr-accent-400);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--clr-accent-500);
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
  

header {
    display: grid;
    grid-template-columns: 1fr auto minmax(800px, 3fr) 1fr;
}

.logo {
    grid-column: 2 / 3;
}

nav {
    all: unset; 
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    opacity: 1;
    position: relative;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 3em;
    margin-bottom: 0;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: var(--clr-accent-600);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1,1);
}
}

.sidebar {
    margin: 0px;
    padding: 0px;
    position: fixed;
    margin-top: 500px;
    display: grid;
}

.sidebar li a, i {
    text-decoration: none;
    list-style-type: none;
    font-size: 1.2rem;
    margin-block: 1rem;
    padding: 0.2rem;
}

.sidebar i:hover {
   text-decoration: overline;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
    padding-left: 0.8rem;
}

/* html style starts here */
body {
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

#info {
    padding-top: 14rem;
    background-image:url(images/title-image.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.h1-main {
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--clr-accent-400);
    font-size: 1.8em;
    line-height: 1.4em;
    text-decoration: none;
    text-transform: none;
    padding-top: 4rem;
}

#h1-main-name {
    color: var(--clr-accent-600);
    text-transform: uppercase;
}

#h1-main-name:hover {
    color: var(--clr-accent-400);
}

a {
    text-decoration: none;
    color: var(--clr-primary-900);
}

.button-main {
    width: 20rem;
    height: 3rem;
    font-family: var(--ff-primary);
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--clr-accent-600);
    border: solid 2px var(--clr-accent-600);
    border-radius: 0.1rem;
}

.button-main:hover {
    background-color: var(--clr-accent-600);
    border-color: var(--clr-accent-600);
    color: var(--clr-primary-900);
}

.button {
    margin-block: 2rem;
    font-family: var(--ff-primary);
    font-weight: bold;
    height: 2rem;
    width: 8rem;
    border: solid 3px var(--clr-accent-600);
    border-radius: 0.1rem;
    box-shadow: 10px 10px 10px black;
    color: var(--clr-primary-900);
    background-color: var(--clr-accent-600);
    text-transform: uppercase;
}

.button:hover {
    border-color: var(--clr-accent-600);
    background-color: transparent;
    color: var(--clr-accent-600);
}

#dev-icon {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex; 
    width: 100%;
    border: solid 1px var(--clr-primary-400);
    background-color: var(--clr-primary-400);
    box-shadow: 0 0 10px white;
}

#dev-icon img {
    margin-left: 0.8rem ;
}

#dev-icon p {
    color: var(--clr-primary-200);
    padding: 0.5rem;
}

.introduction {
    background-color: var(--clr-primary-900);
    color: var(--clr-accent-900);
}

#gradient-border {
    background-color: var(--clr-primary-900);
    box-shadow: 10px 10px 15px black;
    
    border-inline-start: 4px solid;
    border-block-start: 4px solid;
    border-image-source:
        radial-gradient(
            circle at top left,
            var(--clr-primary-200), transparent 50%);
        border-image-slice: 1;
        padding: 30px;
}

h1 {
    color: var(--clr-accent-600);
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.1;
    font-weight: 900;
    word-spacing: 0.3rem;
    text-transform: uppercase;
}

h2{
    color: var(--clr-accent-400);
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.1;
    font-weight: 900;
    font-size: 1.2rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.1rem;
}

h3 {
    color: var(--clr-accent-400);
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.1;
    font-weight: 900;
    word-spacing: 0.3rem;
    letter-spacing: 0.2rem;
}

.logo img {
    height: 50px;
    width: 50px;
    border: none;
}

p {
    color: var(--clr-accent-900);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4em;
    word-spacing: 0.5rem;
}

/*Style for animation*/
.animation-pulse, 
.faded-left, 
.faded-right,
#zoom-in,
#heart-beat {
    opacity: 0;
}

.animation-pulse.animate__animated,
.faded-left.animate__animated,
.faded-right.animate__animated,
#zoom-in.animate__animated,
#heart-beat.animate__animated {
opacity: 1;
animation-duration: 1.2s;
}

/* Section styles starts here */
.wrapper {
    width: min(90%, 70rem);
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
    text-align: center;
}

section {
    padding-block: 6rem;
    text-align: center;
    background-color: var(--clr-primary-900);
    display: grid;
}

.about-me {
    background-color: var(--clr-primary-400);
    box-shadow: 0 8px 30px 0;
}

#carousel {
    background-color: var(--clr-primary-400);
}

#carousel button {
    margin-top: 5rem;
}

.cell {
    width: 100%;
    height: 600px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 0.5rem;
}

.cell img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

img {
    margin: 0 auto;
    display: block;
    max-width: 100%; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

#selfie-top {
    margin: 0 auto;
    display: block;
    max-width: 100%; 
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 2px var(--clr-accent-400);
    box-shadow: 10px 10px 15px black;
    border-radius: 0 2rem 0 2rem;
}

.even-columns {
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 2rem;
}

@media (min-width: 50rem) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}

#column-text{
    text-align: left;
}

.courses {
    background-color: var(--clr-primary-400);
    box-shadow: 0 8px 30px 0;
}

/* myprojects skewed */

.myprojects p {
    color: #8f8f8f;
    font-size: 0.9rem;
    line-height: 23px;
}

.myprojects h1 {
    margin: 0;
}

.skewed {
    width: 45em;
    color: #1f1f1f;
    display: flex;
    background: #111;
    margin: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.70);
}

.text {
    padding: 1.5em;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.myprojects a {
    color: #fff;
    text-decoration: none;
}

.image {
    width: 50%;
    height: 17em;
    position: relative;
    overflow: hidden;
}

.image::before {
    content: '';
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background: #111;
    width: 40%;
    height: 140%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.skewed-left .image::before {
    transform: translateY(-50%) rotate(-20deg);
    left: initial;
    right: -6.1em;
}

.myprojects img {
    width: 140%;
}

@media screen and (max-width: 750px) {
    .skewed {
        display: block;
        width: 20em;
    }
    .image, .text {
        width: 100%;
    }
    .myprojects img {
        width: 160%;
    }
    .skewed .image::before {
        width: 120%;
        height: 40%;
        top: -5em;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }
     .skewed-left .image::before {
        transform: translateX(-50%) rotate(-10deg);
        top: initial;
        bottom: -5em;
     }
     
}

#contacts {
    padding-block: 0;
}

.container {
    max-width: 900px;
    height: 300px;
    border: 2px solid black;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 640px) {
    
    .h1-main {
        font-size: 1.2rem;
    }

    .button-main {
        width: 10rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }
    #info {
        padding-block: 8rem;
    }

    .sidebar {
        margin-top: 400px;
    }

    .icons i {
        font-size: 2rem;
    }

    .direction ol {
        font-size: 1rem;
    }
}

ol {
    list-style-type: none;
    color: var(--clr-accent-400);
    padding-inline: 0;
}

.direction, .icons {
    margin: 0;
    font-size: 1.2rem;
    display: inline-block;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 0.5em;
}

footer {
    padding-block: 3rem;
    text-align: center;
    text-decoration: overline 1px var(--clr-accent-400);
    background-color: var(--clr-primary-400);
    box-shadow: 0 8px 30px 0;
}

footer p {
    color: var(--clr-accent-400);
}

#glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}
