/* colours {
    #f5eebc;
    #78380C;
    #FB8500;
    #F5EBE0;
    #CCD5AE;
}
*/

:root {
    --background: rgba( 80,84,68,0.25);
    --clr-primary-nav: #E7E1DA;
    --clr-primary-200: #d8c3a5;
    --clr-primary-400: #e98074;
    --clr-primary-900: #8E8D8A;
    --clr-neutral-100: #EAE7DC;
    --clr-neutral-900: #E85A4F;

    --ff-primary: "Michroma";
    --ff-accent: "Playfair Display", serif;
}

*,*::after,*::before {
    box-sizing: border-box;
}

html {
    color-scheme: light-dark;
}

/*navigation styles starts here*/

header {
    background-color: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--clr-primary-400);
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }
  

header {
    display: grid;
    grid-template-columns: 1fr auto minmax(800px, 3fr) 1fr;
}

.logo {
    grid-column: 2 / 3;
}

nav {
    all: unset; 
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    opacity: 1;
    position: relative;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 3em;
    margin-bottom: 0;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: var(--clr-primary-400);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a:hover::before {
    transform: scale(1,1);
}
}

/* html style starts here */
body {
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.h1-main {
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--clr-primary-900);
    font-size: 1.8em;
    line-height: 1.4em;
    text-decoration: none;
    padding-top: 7rem;
}

#h1-main-name {
    color: var(--clr-neutral-900);
    text-transform: uppercase;
}

#h1-main-name:hover {
    color: black;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    font-family: var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.1;
    font-weight: 900;
}

h1 {
    text-decoration: overline dashed 1px var(--clr-neutral-900) ;
}

p {
    font-size: 0.9rem;
    line-height: 1.4em;
    word-spacing: 0.5rem;
}

.wrapper {
    width: min(90%, 70rem);
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
    text-align: center;
}

section {
    padding-block: 5rem;
    text-align: center;
    background-color: var(--clr-neutral-100);
}

.photo {
    text-align: center;
}

.introduction {
}

.highlight li {
    list-style-type: none;
    text-align: justify;
    font-weight: 800;
    font-size: 1.8rem;
}

.education {

}

.courses {

}

img {
    display: block;
    max-width: 100%; 
}
.projects {

}

.split{
    width: min(90%, 70rem);
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 1rem;
    text-align: center;
    background-color: var(--clr-primary-nav);
    border: var(--clr-primary-900) 1px solid;
    border-radius: 0.8em;
    box-shadow: 10px 10px 15px var(--clr-primary-900);
    display: flex;
    margin-block: 1em;
}


.left {
    float: left;
    width: 50%;
    padding: 1em;
    text-align: center;
}

.right {
    float: right;
    width: 50%;
    padding: 1em;
    align-content: center;
}

@media only screen and (max-width: 640px) {
    .split {
        display: block;
    }
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}

ol {
    list-style-type: none;
    color: var(--clr-primary-900);
}

.socialmedia {
    width: min(90%, 70rem);
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 1rem;
    text-align: center;
    display: flex;
    margin-block: 1em;

}

.socialmedia a {
    font-size: 1.5rem;
}
